# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
/target/
/lib/
target/LockClock.jar

target/classes/me/eccentric_nz/lockclock/LockClockListener.class

target/classes/plugin.yml

target/maven-archiver/pom.properties

target/maven-archiver/pom.properties
